* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
#logo {
  width: 125px;
}
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block; /* next to each other */
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 70px;
}
.fas fa-search {
  margin-right: 70px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.caption-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.header {
  background: radial-gradient(#fff, rgb(142, 243, 193));
}
#cart-icon {
  width: 30px;
  height: 30px;
}
.navbar button {
  border: none;
  background: rgb(142, 243, 193);
  cursor: pointer;
}
/* Slider box */
.slider-box {
  width: 50%;
  height: 40vh;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
#slider {
  width: 100%;
  display: inline-flex;
  transition: 0.7s;
}
#slider img {
  width: 100%;
}
.indicators {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
}
.indicators span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.active {
  background: #ffff !important;
}
/* BEST Selling */
.slider-box-best {
  width: 50%;
  height: 40vh;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
#slider-best {
  width: 100%;
  display: inline-flex;
  transition: 0.7s;
}
#slider-best img {
  width: 100%;
}
.indicators-best {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
}
.indicators-best span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.best-active {
  background: #ffff !important;
}

/* FOOTER */
.footer {
  background-color: #24262b;
  padding: 60px 0;
}
.container-footer {
  max-width: 1170px;
  margin: auto;
}
.frow {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col ul {
  list-style: none;
}
.footer-col h4 {
  font-size: 18px;
  color: aliceblue;
  margin-bottom: 30px;
  font-weight: 500;
}
.footer-col ul li {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* ---------- Media query for menu-------------- */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* ------media query for less than 600px screen size------- */
@media only screen and (max-width: 600px) {
  .row,
  .frow,
  .caption-image {
    text-align: center;
  }
  .col-2,
  .footer-col {
    flex-basis: 100%;
  }
  .cart-info p {
    display: none;
  }
  .cart-page button {
    font-size: 10px;
  }
}
/* All product */
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 img {
  width: 100%;
}
.product-title {
  text-align: center;
  /* margin: 0 auto; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid rgb(56, 184, 235);
}
select:focus {
  outline: none;
}
/* --------- prodyct detail single product ------- */
.single-product {
  margin-top: 60px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid rgb(56, 184, 235);
}
.single-product input:focus {
  outline: none;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* -------------cart Items_______________ */
.cart-page {
  margin: 80px auto;
}
.cart-page #input {
}
.cart-page button {
  float: right;
  border: rgb(56, 184, 235);
  cursor: pointer;
  color: rgb(56, 184, 235);
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
/* .cart-info img {
  width: 250px;
  height: auto;
} */
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  font-weight: normal;
  background: rgb(56, 184, 235);
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: rgb(56, 184, 235);
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid rgb(56, 184, 235);
  width: 100%;
  max-width: 400px;
}
/* .total-price button {
  flex-direction: row;
} */
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
